
/* Шрифты */

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('bebasneuebold.woff2') format('woff2'), url('bebasneuebold.woff') format('woff'), url('bebasneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.form{
    border-radius: 50px;
}

.swiper {
    padding: 0px 70px;
    height: 300px;
}



.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: '';
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: '';
}
.login-form-wrapper{
    border-radius: 50px;
    background-image: url('/bissnes-lunch-frontend/img/bg-form.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 526px;
}

.login-form-wrapper-mobile{
    border-radius: 20px;
    background-image: url('/bissnes-lunch-frontend/img/bg-form.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: none;
}

.login-form_form h1{
    font-family: Bebas Neue;
}

.login-form_form p{
    font-family: Montserrat;
}

.login-button{
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 9px;
    background: #911F27;
    font-family: Bebas Neue;
    padding: 10px 43px;
    border: none;
    color: #FFF;
    font-size: 24px;
}

.login-button:hover{
    background: #630A10;
}


#link{
    font-family:Bebas Neue ;
    font-size: 16px;
    color: #630A10;
    margin-right: 24px;
}

#link:nth-last-child(0){
    margin-right: 0;
}

#hero__title {
    color: #630A10;
    font-family: Bebas Neue;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 32px */
    letter-spacing: -0.8px;
}

#hero__par{
    width: 523px;
    font-size: 16px; 
}

.todo__hero-mobile{
    display: none;
}


.todo__list-item{
    padding: 20px 30px;
    width: 270px;
    border-radius: 22px;
    background: #FCF0C8;
}



@media (max-width: 480px) {
    .login-form-wrapper{
        display: none;
    }
    .login-form-wrapper-mobile{
        display: block;

    }

    .login-form-wrapper-mobile img{
        margin-top: 10px;
        width: 290px;
    }

    .todo__hero-mobile{
        display: block;
    }

    .todo__hero{
        display: none;
    }

    #hero__par{
        width: 300px;
        font-size: 16px; 
    }
}


@media (max-width: 768px){
    .login-form-wrapper img{
        width: 250px;
    }
}
