
/* Шрифты */



@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('bebasneuebold.woff2') format('woff2'), url('bebasneuebold.woff') format('woff'), url('bebasneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.form{
    border-radius: 50px;
}


.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: '';
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: '';
}
.login-form-wrapper{
    border-radius: 50px;
    background-image: url('/bissnes-lunch-frontend/img/bg-form.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 526px;
}

.login-form-wrapper-mobile{
    border-radius: 20px;
    background-image: url('/bissnes-lunch-frontend/img/bg-form.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: none;
}

.login-form_form h1{
    font-family: Bebas Neue;
}

.login-form_form p{
    font-family: Montserrat;
}

.login-button{
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 9px;
    background: #911F27;
    font-family: Bebas Neue;
    padding: 10px 43px;
    border: none;
    color: #FFF;
    font-size: 24px;
}

.login-button:hover{
    background: #630A10;
}


#link{
    font-family:Bebas Neue ;
    font-size: 16px;
    color: #630A10;
    margin-right: 24px;
}

#link:nth-last-child(0){
    margin-right: 0;
}

#hero__title {
    color: #630A10;
    font-family: Bebas Neue;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 32px */
    letter-spacing: -0.8px;
}

#hero__par{
    width: 523px;
    font-size: 16px; 
}


.todo__list-item{
    padding: 20px 30px;
    width: 500px;
    margin-bottom: 20px;
    border-radius: 22px;
    background: #FCF0C8;
}

#todo__list-title {
    color: #911F27;
    font-family: Bebas Neue;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 24px */
    letter-spacing: -0.6px;
}


#todo__list-item-title {
    color: #630A10;
    font-family: Bebas Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
    letter-spacing: -0.5px;
}

#todo__list-item-par{
    color: #000;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal; 
        font-weight: 400;
        line-height: 100%;
        /* 16px */
        letter-spacing: -0.4px; 
}


.btn-success{
    transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
    border-radius: 16px;
    padding: 4px 14px;
    background: #911F27;
}

.btn-success:hover{
    transform: translateY(-5px);
}

.btn-success img{
    transition: .5s ease-in-out;
}

.btn-success:hover img{
    transform: rotate(360deg);
}


.btn-success__text{
    margin-bottom: 0px;
    color: #FFF;
    font-family: Bebas Neue;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    /* 15px */
    letter-spacing: -0.375px;
}



.documents__text-title{
    color: #630A10;
    font-family: Bebas Neue;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 32px */
    letter-spacing: -0.8px;
}


.documents__text-par{
    width: 523px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
    letter-spacing: -0.4px;
}

.form-label {
    color: #911F27;
    font-family: Bebas Neue;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 24px */
    letter-spacing: -0.6px;
}

.btn-form{
    text-align: left;
    padding: 16px 0px;
    padding-left: 12px;
    width: 270px;
    border: none;
    border-radius: 8px;
    background: #911F27;
    color: #FFF;
    font-family: Bebas Neue;
    font-size: 16 px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 14px */
    letter-spacing: -0.35px;
}


.admin__hero-title{
    margin-bottom: 23px;
    color: #630A10;
    font-family: Bebas Neue;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 32px */
    letter-spacing: -0.8px;
}

.admin__hero-par{
    width: 523px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
    letter-spacing: -0.4px;
}


.card-user{
    padding: 20px 0px; 
    border-radius: 23px;
    background: #FCF0C8;
}

.user-info__title h1{
    color: #630A10;
    font-family: Bebas Neue;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 32px */
    letter-spacing: -0.8px;
}

.user-info__title p{
    color: #0C9600;
    font-family: Bebas Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
    letter-spacing: -0.4px;
}

.user-info__up p{
    color: #630A10;
    font-family: Bebas Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
    letter-spacing: -0.4px;
}

.user-info__up span{
    color: #630A10;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: -0.4px;
}

.card-todo h2{
    color: #630A10;
    font-family: Bebas Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
    letter-spacing: -0.4px;
}

.card-todo p{
    color: #630A10;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: -0.4px;
}

.card-todo p.comp{
    color: #0C9600;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: -0.4px;
}

.card-todo button{
    padding: 5px 6px;
    border: none;
    color: #FFF;
    font-family: Bebas Neue;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 15px */
    letter-spacing: -0.375px;
    border-radius: 12.5px;
    background: #911F27;
}





@media (max-width: 480px) {
    .login-form-wrapper-mobile img{
        margin-top: 10px;
        width: 290px;
    }

    #hero__par{
        width: 300px;
        font-size: 16px; 
    }

    .swiper{
        display: none;
    }

    .todo__list-item{
        width: 350px;
    }

    .documents__text-par{
        width: 300px;
    }

    .admin__hero-par{
        width: 300px;
    }
}
 

@media (max-width: 768px){
    .login-form-wrapper img{
        margin-top: 20px;
        width: 300px;
    }
}
